.connect-btn {
    background: linear-gradient(90deg, #ABBDFE 0%, #B2A1FC 100%);
}

.header {
    border-bottom: 1px solid #C5C5C5;
}

.menu {
    border-bottom: 1.5px solid #ffffff;
}

.explorer-btn {
    border: 1px solid #ABBDFE;
}
/* 
.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #ffffffbf,
        0 0 10px #ffffff00,
        0 0 21px #B2A1FC,
        0 0 42px #ABBDFE,
        0 0 82px #B2A1FC,
        0 0 92px #ABBDFE,
        0 0 102px #B2A1FC,
        0 0 151px #ABBDFE;
} */

.logo-bg {
    background: url('/images/Background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

